{% extends 'rest_framework/base.html' %}
{% load static %}

{% load rest_framework %}

{% block title %}
    DiaVantage
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'diaweb/style.css' %}">
{% endblock %}

{% block branding %}
    <a class="navbar-brand" href="{% url 'index' %}">DiaVantage</a>
{% endblock %}

{% block userlinks %}
    {% if request.user.is_authenticated %}
        {% optional_logout request request.user csrf_token %}
    {% endif %}
{% endblock %}

{%  block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="active"><a href="{% url 'main' %}">Main</a></li>
        <li class="active"><a href="">account-info</a></li>
    </ul>
{% endblock %}


{% block content %}
        
        <div class="content-main" role="main" aria-label="content-main">
            <div class="page-header" style="margin-bottom: 2%">
                <ul id="registration-nav" class="breadcrumb" style="margin-top: 2%">
                    <li class="active"><h1>Account Data</h1></li>
                    <li class="active navbar-btn"><button onclick="history.back()">Return</button></li>
                    <li class="active navbar-btn"><button onclick="window.location.reload()">Reload user info</button></li>
                </ul>
            </div>
            <div class="response-info" aria-label="response-info">
                <pre class="prettyprint">{{ data.result | linebreaks }}</pre>
            </div>
        </div>

        {% if data.creation_view %}
            <div class="tabbable">
                <a class="navbar-brand"  href="javascript:history.back()">Return to form</a>
            </div>

        {% else %}
            <div class="tabbable">
                <div class="well tab-content">
                    <div class="tab-pane active" id="post-object-form">
                        {% if request.user.patient %}
                        <form action=""  data-method="PATCH" enctype="multipart/form-data" class="form-horizontal" novalidate>
                        {% elif request.user.physician %}
                        <form action=""  data-method="PATCH" enctype="multipart/form-data" class="form-horizontal" novalidate>
                        {% else %}
                        <form action="" target='blank_action' data-method="PATCH" enctype="multipart/form-data" class="form-horizontal" novalidate>
                        {% endif %}
                            <fieldset>
                                {% csrf_token %}
                                {% for field in data.serializer %}
                                    {% if field.name not in data.hidden_fields  %}
                                        {% render_field  field style=data.style %}
                                    {% endif %}
                                {% endfor %}
                                <div class="form-actions">
                                    <button class="btn btn-primary js-tooltip">Update</button>
                                </div>
                            </fieldset>
                        </form>
                        <div class="form-actions">
                             <button class="btn btn-primary js-tooltip" style="margin-top: 1%" onclick="">Change Password</button>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        document.getElementsByName('user.password')[0].disabled = true;
        document.getElementById('logoutForm').setAttribute('action', "{% url 'rest_framework:logout' %}?next={% url 'index' %}")
    </script>
{% endblock %}