<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DiaVantage</title>
    {% load static %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'diaweb/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap-tweaks.css' %}">
    
    <link rel="stylesheet" href="{% static 'rest_framework/css/prettify.css' %}">
    <link rel="stylesheet" href="{% static 'rest_framework/css/default.css' %}">
    
    <script type="text/javascript" src="{% static 'diaweb/registration_scripts.js' %}"></script>
    
</head>
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="well">
        
          
          {% if status == 201 %}
            <div class="row-fluid">
                <div>
                    <h3 style="margin: 0 0 20px;">Registration Successful</h3>
                    <hr>  
                </div>
            </div>
            
          {% else %}
            <div class="row-fluid">
                <div>
                    <h3 style="margin: 0 0 20px;">Registration Failed</h3>
                    <hr>
                </div>
            </div>
          {% endif %}
      
        <div class="row-fluid">
            <pre>{{ result | linebreaks }}</pre>
            <a href="{% url 'index' %}" target="_top">Return</a>
        </div>
      </div><!--/.well-->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</body>
</html>