{% extends 'rest_framework/base.html' %}

{% load rest_framework %}
{% load plotly_dash %}

{% block title %}
    DiaVantage
{% endblock %}

{% block branding %}
    <a class="navbar-brand" href="{% url 'index' %}">DiaVantage</a>
{% endblock %}

{% block userlinks %}
    {% if request.user.is_authenticated %}
        {% optional_logout request request.user csrf_token %}
    {% endif %}
{% endblock %}

{%  block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="active"><a href="{% url 'main' %}">Main</a></li>
        {% if data.name == 'Patient' %}
            <li class="active"><a href="{% url 'web-patient-list' %}">{{ data.name }} List</a></li>
        {% else %}
            <li class="active"><a href="{% url 'web-physician-list' %}">{{ data.name }} List</a></li>
        {% endif %}
        <li class="active"><a href="">{{ data.name }} Detail</a></li>
    </ul>
{% endblock %}


{% block content %}
        
        <div class="content-main" role="main" aria-label="content-main">
            <div class="page-header" style="margin-bottom: 2%">
                <ul id="registration-nav" class="breadcrumb" style="margin-top: 2%">
                    <li class="active"><h1>Patient Measures</h1></li>
                    <li class="active navbar-btn"><button onclick="history.back()">Return</button></li>
                </ul>
                
            </div>
            <div class="container-fluid" >
                <div class="well">
                    {% plotly_app name="MeasurementsAnalysis"  ratio=1 %}
                </div>

            </div>
        </div>

        <div class="tabbable">
                
                    <a class="navbar-brand"  href="javascript:history.back()">Return</a>
                
            
        </div>
        
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        document.getElementById('logoutForm').setAttribute('action', "{% url 'rest_framework:logout' %}?next={% url 'index' %}")
    </script>
{% endblock %}