{% extends 'rest_framework/base.html' %}

{% block head %}
    {% load static %}
    {% load rest_framework %}
    {{ block.super }}
    <script src="{% static 'diaweb/registration_scripts.js' %}"></script>
{% endblock %}

{% block title %}
    DiaVantage
{% endblock %}

{% block branding %}
    <a class="navbar-brand" href="{% url 'index' %}">DiaVantage</a>
{% endblock %}

{%  block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="active"><a href="{% url 'index' %}">Home</a></li>
    </ul>
{% endblock %}

{% block content %}
        
        <div class="content-main" role="main" aria-label="content-main">
            <div class="page-header" style="margin-bottom: 2%">
                <ul id="registration-nav" class="breadcrumb" style="margin-top: 2%">
                    {% if status == 201 %}
                        <li class="active"><h1>Registration Successful </h1></li>
                    {% else %}
                        <li class="active"><h1>Registration Failed </h1></li>
                    {% endif %}
                    <li class="active">Response status: {{ status }}</li>
                </ul>
            </div>
            <div class="response-info" aria-label="response-info">
                <pre class="prettyprint">{{ result | linebreaks }}</pre>
            </div>
        </div>

        {% if status != 201 %}
            <div class="tabbable">
                <div class="well tab-content">
                    <div class="tab-pane active" id="post-object-form">
                        <form action="{% url target %}" method="post" enctype="multipart/form-data" class="form-horizontal" novalidate>
                            <fieldset>
                                {% csrf_token %}
                                {% for field in serializer %}
                                    {% if field.name not in hidden_fields  %}
                                        {% render_field  field style=style %}
                                    {% endif %}
                                {% endfor %}
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary js-tooltip" title >Sign up</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
      document.getElementsByName('user.password')[0].type = 'password';
    </script>
{% endblock %}