.container{
    width: 100%;
    font-size: 200%;
}

.content{
    font-size: 200%;
}

.response-info .prettyprint{
    font-size: 200%;
}

.content-main{
    width: 100%;
    font-size: 200%;
}

.form-group input{
    height: 100%;
    font-size: 150%;
}

.form-actions button{
    font-size: 150%;
}

.form-control{
    font-size: 150%;
    width: 50%;
    height: 100%;
}

select option{
    font-size: 150%;
}


@media only screen and (min-width: 768px) {
    .container{
    font-size: 180%;
    }

    .content{
    font-size: 150%;
    }

    .response-info .prettyprint{
        font-size: 120%;
    }

    .content-main{
        font-size: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .container{
    font-size: 100%;
    }
}


